<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs' ); %>
        <title>Carrito</title>
</head>

<body>
    <div class="container">
        <h1>Carrito</h1>

        <p>Su carrito tiene el ID <%= cartId %>
        </p>
        <% if(cart.length===0){%>
            <p>El carrito no tiene productos.</p>
            <% } %>
    </div>

    <div class="container">
        <form action="/carrito" method="post">
            <label> Ingrese el ID de su carrito:</label>
            <input type="text" name="cartId">
            <label>Ingrese el ID del producto que quiere agregar:</label>
            <input type="text" name="prodId">
            <button class="btn btn-primary" type="submit">Agregar producto</button>
        </form>

    </div>
</body>

</html>