<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs' ); %>
        <title>Orden</title>
</head>

<body>

    <div class="container">
        <h1>Usted ha generado una orden con numero <%= orderId %>
        </h1>
    </div>

</body>

</html>