<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs' ); %>
        <title>ERROR</title>
</head>

<body>

    <div class="container">
        <p>Producto no encontrado.</p>
        <button type="button" class="btn btn-primary"><a href="/productos" class="login">Volver</a></button>
    </div>

</body>

</html>