* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    margin-top: 1rem;
}

h2 {
    margin: 2rem 0;
}

.email {
    color: blue;
    font-weight: bold;
    display: inline;
}

.fecha {
    color: brown;
    display: inline;
}

.mensaje {
    color: green;
    font-style: italic;
    display: inline;
}

button {
    margin-bottom: 5%;
}

.error {
    background-color: red;
    height: 100%;
    text-align: center;
}

.login {
    color: white;
    text-decoration: none;
}

.login:hover {
    color: white;
}

.products {
    display: grid;
    grid-template-columns: repeat(2, 40fr);
}

.down{
    display: block;
    margin: 1rem 0;
}